main {
   display: flex;
   flex-direction: column;
   align-items: center;
}
main h2 {
   text-align: center;
   color: #e68217;
   font-size: 28px;
}
/*о компании*/
.history {
   margin: 20px 30px;
   background-color: #414141;
   box-shadow: 0 0 25px black;
   border-radius: 10px;
   padding: 15px;
   max-width: 800px;
}
.history h3 {
   color: #e68217;
}
.history p {
   margin-top: 10px;
   color: #fefefe;
}
.history b {
   color: #aeff00;
}
/*BIG NUMBERS*/
.big-numbers {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap: 15px;
   flex-wrap: wrap;
}
.big-number {
   background-color: #e68217;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 10px;
   width: 150px;
   border-radius: 10px;
   box-shadow: 0 0 10px black;
}
.big-number h3 {
   color: #aeff00;
   font-size: 40px;
}
/*team*/
.team .advantages-container {
   max-width: none;
}
.team .advantage {
   width: 265px;
   height: 265px;
}
.team .advantage .text-container {
   gap: 5px;
}
.team .advantage h4 {
   font-size: 13px;
   color: #aeff00;
}
.advantages-container {
   max-width: 800px;
}
