* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/*  HEADER  */
header {
   background-color: #333;
   color: #fefefe;
   padding: 10px 30px;
   display: flex;
   justify-content: space-between;
   justify-items: center;
}
header p {
   line-height: 30px;
}
nav {
   width: 70%;
   display: flex;
   justify-content: space-evenly;
}
nav a {
   display: flex;
   color: #fefefe;
   text-decoration: none;
   height: 30px;
   line-height: 20px;
   padding: 5px 10px;
   border-radius: 6px;
}
nav a:hover {
   background-color: #525252;
   transform: translateY(-4%);
   box-shadow: black 2px 5px 10px;
   transition: all 0.3s;
}
.active {
   background-color: #e68217;
   color: #741d03;
   font-weight: bolder;
}
.active:hover {
   background-color: #faa953;
}

@media (min-width: 576px) and (max-width: 767px) {
   nav {
      width: 45%;
   }
   body {
      background-color: blue;
   }
}
@media (min-width: 768px) and (max-width: 1199px) {
   nav {
      width: 37%;
   }
}
@media (min-width: 1200px) {
   nav {
      width: 25%;
   }
   body {
      background-color: red;
   }
}
