* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/*  HEADER  */
header {
   background-color: #333;
   color: #fefefe;
   padding: 10px 30px;
   display: flex;
   justify-content: space-between;
   justify-items: center;
}
header p {
   line-height: 30px;
}
nav {
   width: 70%;
   display: flex;
   justify-content: space-evenly;
}
nav a {
   font-size: 13px; /*15*/
   display: flex;
   color: #fefefe;
   text-decoration: none;
   height: 30px;
   line-height: 20px;
   padding: 5px 10px;
   border-radius: 6px;
}
nav a:hover {
   background-color: #525252;
   transform: translateY(-4%);
   box-shadow: black 2px 5px 10px;
   transition: all 0.3s;
}
.active {
   background-color: #e68217;
   color: #741d03;
   font-weight: bolder;
}
.active:hover {
   background-color: #faa953;
}

/*  MAIN  */
/*hero*/
main {
   background-color: #333;
}
.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 270px;
   gap: 25px;
   background: linear-gradient(to right, #faa953, #e68217);
   color: #741d03;
}
.hero h1 {
   font-size: 20px;
}
.hero p {
   font-size: 13px;
}
main a {
   background-color: inherit;
   text-decoration: none;
   padding: 10px 70px;
   cursor: pointer;
   border: 1px solid #aeff00;
   border-radius: 15px;
   color: #aeff00;
   font-size: 20px;
   transition:
      color 0.3s,
      border 0.3s;
}
main a:hover {
   background-color: #aeff00;
   color: #385200;
   animation: pulse 1s infinite;
}
/*popular*/
.popular-goods {
   margin: 25px 30px;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
}
.popular-goods h2 {
   margin-bottom: 20px;
   color: #e68217;
}
.cards-container {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   justify-content: center;
}
.card {
   width: 300px; /*350*/
   height: 425px; /*465*/
   background-color: #4e4e4e;
   box-shadow: 0 0 20px black;
   border-radius: 10px;
   text-align: left;
}
.card .img-bc {
   position: relative;
   display: flex;
   justify-content: center;
   background: linear-gradient(0deg, #b05e07 0%, #f7b977 100%);
   padding: 5px 0;
   border-radius: 10px 10px 0 0;
}
.card .img-bc .badge {
   position: absolute;
   top: 10px;
   left: 20px;
   background-color: #aeff00;
   color: #385200;
   padding: 5px;
   border-radius: 5px;
}
.card .img-bc img {
   width: 65%;
}
.card .text-container {
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.card .text-container h3 {
   font-size: 18px; /*21*/
   color: #e68217;
}
.card .text-container p {
   margin: 10px 0;
   padding: 2px 0;
   padding-left: 10px;
   color: #fefefe;
   border-left: 2.5px dashed #aeff00;
}
.card .text-container .rating-badge {
   display: block;
   width: 120px;
   padding: 5px;
   margin: 5px 0px;
   background-color: #e68217;
   color: #fefefe;
   border-radius: 10px;
}
.card .text-container s {
   color: #b0b0b0;
}
.card .text-container .cost {
   color: #f7b977;
   font-size: 20px;
   text-decoration: underline dashed;
}
.card .text-container a {
   display: block;
   width: 200px;
   text-align: center;
   font-size: 15px;
   padding: 5px;
   margin-top: 5px;
}
.popular-goods a {
   display: block;
   width: 350px;
   padding: 10px 0;
   margin-top: 15px;
}

/*  FOOTER  */
footer {
   background-color: #333;
   color: #b7b7b7;
   padding: 20px 30px;
   box-shadow: 0 -6px 50px black;
}
.footer-container {
   padding-top: 20px;
}
footer section {
   margin-bottom: 15px;
}
footer h2 {
   font-size: 30px;
   color: #dc9e5cd8;
}
footer .about-store h2 {
   padding-bottom: 7px;
}
footer .contacts h2 {
   padding-bottom: 7px;
}
footer p {
   padding-bottom: 5px;
}
footer .socials {
   margin-top: 5px;
   display: flex;
   gap: 20px;
}
footer .socials a {
   color: #b7b7b7;
   text-decoration: none;
   padding: 5px;
   border-radius: 5px;
}
footer .socials a:hover {
   background-color: #525252;
   transform: translateY(-4%);
   box-shadow: black 2px 5px 10px;
   transition: all 0.3s;
}
footer hr {
   color: #dc9e5cd8;
   margin-bottom: 10px;
}
footer h3 {
   text-align: center;
   color: #525252;
}

@media (min-width: 576px) and (max-width: 767px) {
   /*  HEADER  */
   nav {
      width: 45%;
   }
   nav a {
      font-size: 15px;
   }

   /*  MAIN  */
   .hero {
      height: 300px;
   }
   .hero h1 {
      font-size: 37px;
   }
   .hero p {
      font-size: 15px;
   }
   .hero a {
      padding: 10px 150px;
   }
   .card {
      width: 350px;
      height: 465px;
   }
   .card .text-container h3 {
      font-size: 21px;
   }
   /*  FOOTER  */
   .footer-container {
      display: grid;
      grid-template-areas:
         "about-store contacts"
         "ours-socials ours-socials"
         "hr hr"
         "h3 h3";
      grid-template-columns: 1fr 1fr;
      padding-left: 30px;
   }
   .about-store {
      grid-area: about-store;
   }
   .about-store p {
      width: 70%;
   }
   .contacts {
      grid-area: contacts;
   }
   .ours-socials {
      grid-area: ours-socials;
      text-align: center;
   }
   .ours-socials h2 {
      transform: translateX(-8%);
   }
   .socials {
      justify-content: center;
   }
   hr {
      grid-area: hr;
   }
   h3 {
      grid-area: h3;
   }
}
@media (min-width: 768px) and (max-width: 1199px) {
   /*  HEADER  */
   nav {
      width: 37%;
   }
   nav a {
      font-size: 15px;
   }

   /*  MAIN  */
   .hero {
      height: 300px;
   }
   .hero h1 {
      font-size: 37px;
   }
   .hero p {
      font-size: 15px;
   }
   .hero a {
      padding: 10px 150px;
   }
   .card {
      width: 350px;
      height: 465px;
   }
   .card .text-container h3 {
      font-size: 21px;
   }

   /*  FOOTER  */
   .footer-container {
      display: flex;
      justify-content: center;
      gap: 23px;
      padding-left: 30px;
   }
   .about-store p {
      width: 200px;
   }
   .contacts p {
      width: 1fr;
   }
   footer .socials {
      justify-content: center;
      flex-direction: column;
      gap: 0px;
   }
}
@media (min-width: 1200px) {
   /*  HEADER  */
   nav {
      width: 25%;
   }
   nav a {
      font-size: 15px;
   }

   /*  MAIN  */
   .hero {
      height: 340px;
   }
   .hero h1 {
      font-size: 37px;
   }
   .hero p {
      font-size: 15px;
   }
   .hero a {
      padding: 10px 150px;
   }
   .cards-container {
      gap: 30px;
      width: 350px;
      height: 465px;
   }
   .card .text-container h3 {
      font-size: 21px;
   }

   /*  FOOTER  */
   .footer-container {
      display: flex;
      justify-content: center;
      gap: 140px;
   }
   .about-store {
      grid-area: about-store;
   }
   .about-store p {
      width: 200px;
   }
   .contacts {
      grid-area: contacts;
   }
   .contacts p {
      width: 1fr;
   }
   .ours-socials {
      grid-area: ours-socials;
   }
   footer .socials {
      justify-content: center;
      flex-direction: column;
      gap: 5px;
   }
   hr {
      grid-area: hr;
   }
   h3 {
      grid-area: h3;
   }
}
@keyframes pulse {
   100% {
      box-shadow: 0 0 0 10px rgba(174, 255, 0, 0);
   }
   0% {
      box-shadow: 0 0 0 0 rgba(174, 255, 0, 0.7);
   }
}
